<html>
	<body>
  		<h3>Perfil de <%= @user.name %> </h3>
  		<p>Email: <%= @user.email %></p>
      <p>Endereço: <%= @user.address %></p>
  		<% if current_user == @user %>
            <div class="list-group">
                    <a><%= link_to "Edit", edit_user_path(current_user) ,class: "list-group-item list-group-item-action"%></a>
                    <a><%= link_to "Delete", @user, method: :delete,class: "list-group-item list-group-item-action"%></a>
            </div>
        <% end %>
  	</body>
</html>