<h1>Pedidos Realizados</h1>
<table class="table table-hover">
  <thead >
       <tr>
         <th>Numero do Pedido</th>
         <th>Numero do ID do Pedidor</th>
         <th>Data de Entrega</th>
         <th>Total</th>
         <th>Status</th>
         <th>Detalhes</th>
       </tr>
     </thead>
     <tbody>
    <% @orders.each do |x| %>
      <tr>
        <td><%= x.id %></td>
        <td><%= x.owner_id %></td>
        <td><%= x.deliverydate %></td>
        <td>R$ <%= '%.2f'%(x.total) %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <% if x.status == 0 %>
                <%= 'Em processamento' %>
              <% else if x.status == 1 %>
                <%= 'Entregue!' %>
                <% else %>
                <%= 'Cancelado' %>
              <% end %>
              <% end %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to 'Entregue!',orders_alterstatus_path(id: x.id, status: 1),remote: true,method: "POST",class: "btn btn-success" %></li>
                <li><%= link_to 'Em Processamento',orders_alterstatus_path(id: x.id, status: 0),remote: true, method: "POST",class: "btn btn-warning" %></li>
                <li><%= link_to 'Cancelado',orders_alterstatus_path(id: x.id, status: 2),remote: true, method: "POST",class: "btn btn-danger" %></li>
              
            </ul>
          </div>
        </td>
        <td><%= link_to '<i class="glyphicon glyphicon-new-window"></i>'.html_safe,'/orders/details/'+ x.id.to_s, class: "btn btn-primary" %></td>
      </tr>       
      <% end %>
     </tbody>
</table>