<h1>Página do Admin</h1>
<br>

<div class="list-group">
  <%= link_to 'Criar Item', new_product_path,class: "list-group-item" %>
  <%= link_to 'Editar Item',products_path,class: "list-group-item" %> 
  <%= link_to 'Criar Categoria',new_category_path,class: "list-group-item" %>  
  <%= link_to 'Verificar Categorias',categories_path,class: "list-group-item" %>  
  <%= link_to 'Verificar Pedidos',orders_path,class: "list-group-item" %>  
 
</div>