<h1>Carrinho</h1>


<table class="table table-hover">
     <thead >
       <tr>
         <th>Nome</th>
         <th>Preço</th>
         <th>Quantidade</th>
         <th>Remover</th>
       </tr>
     </thead>
     <tbody>
       <% @products.each_with_index do |i,idx| %>
         <tr>
           <td>  <%= i[:name] %></td>
           <td>R$<input type="text" id="priceQty<%= i[:id]%>" class="fieldQty" value="<%= i[:quantity] * i[:price]%>" style="text-align: center" size="2" readonly/>
            </td>
           <td>
               <input type="text" id="fieldQt<%= i[:id]%>" class="fieldQty" value="<%= i[:quantity]%>" style="text-align: center" size="2" readonly/>
               <%= button_to '-',carts_low_path(:product  => i[:id],qtd: i[:quantity],prc: i[:price],posicao: idx),remote: true,id: 'btnMinus'+i[:id].to_s,class: "btn btn-primary" %>
               <%= button_to '+',carts_rise_path(:product  => i[:id],qtd: i[:quantity],prc: i[:price],posicao: idx),remote: true,id: 'btnPlus'+i[:id].to_s,class: "btn btn-primary" %>
            </td>
           <td><%=link_to 'Remover',{:controller => "carts", :action => "remove",:product => i[:id]},class: "btn btn-primary" %></td>
           
         </tr>
      <%end%>
    </tbody>
</table>

<p>Total: R$<input type="text" id="total" class="fieldQty" value="<%= @total %>" style="text-align: center" size="2" readonly/></p>
<%=link_to 'Esvaziar Carrinho',{:controller => "carts", :action => "destroy"},class: "btn btn-primary" %>
<%=link_to 'Finalizar Compra','#',class: "btn btn-primary" %>
<br>
