

<h1>Carrinho</h1>


<table class="table table-hover">
     <thead >
       <tr>
         <th>Nome</th>
         <th>Preço</th>
         <th>Quantidade</th>
         <th>Remover</th>
       </tr>
     </thead>
     <tbody>
       <% @products.each do |i| %>
         <tr>
           <td>  <%= i[:name] %></td>
           <td>R$ <%= i[:price] %></td>
           <td><%= i[:quantity] %>
           <%= link_to '+' ,{:controller => "carts",:action => "rise", :product => i[:id]},class: "btn btn-primary" %></td>
           <td><%=link_to 'Remover',{:controller => "carts", :action => "remove",:product => i[:id]},class: "btn btn-primary" %></td>
         </tr>
      <%end%>
    </tbody>
</table>

<%=link_to 'Esvaziar Carrinho',{:controller => "carts", :action => "destroy"},class: "btn btn-primary" %>
<br>
