<h1>Carrinho</h1>


<table class="table table-hover">
     <thead >
       <tr>
         <th>Nome</th>
         <th>Preço</th>
         <th>Quantidade</th>
         <th>Remover</th>
       </tr>
     </thead>
     <tbody>
       <% @products.each do |i| %>
         <tr>
           <td>  <%= i[:name] %></td>
           <td>R$<input type="text" id="priceQty<%= i[:id]%>" class="fieldQty" value="<%= i[:quantity] * i[:price]%>" style="text-align: center" size="2" readonly/>
            </td>
           <td>
              <%= button_to 'Adicionar',carts_rise_path(:product  => i[:id],qtd: i[:quantity],prc: i[:price]),remote: true,id: 'btnPlus'+i[:id].to_s,class: "btn btn-primary" %>
              <input type="text" id="fieldQt<%= i[:id]%>" class="fieldQty" value="<%= i[:quantity]%>" style="text-align: center" size="2" readonly/>
            </td>
           
           <td><%=link_to 'Remover',{:controller => "carts", :action => "remove",:product => i[:id]},class: "btn btn-primary" %></td>
         </tr>
      <%end%>
    </tbody>
</table>

<%=link_to 'Esvaziar Carrinho',{:controller => "carts", :action => "destroy"},class: "btn btn-primary" %>
<br>

<%= current_cart[0]["quantity"] %>
<%= current_cart[1]["quantity"] %>
