
<div class="dropdown" style="display:inline">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Categorias
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% categories.each do |cat| %>
        <li><%= link_to cat.name.capitalize,products_findcategory_path(categoryname: cat.name) %></li>
    <% end %>
  </ul>
</div>
<div class="dropdown" style="display:inline">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Ordenar
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to 'Preço Maior', products_path(order: "pricemaior") %></li>
    <li><%= link_to 'Preço Menor', products_path(order: "price") %></li>
    <li><%= link_to 'Nome', products_path(order: "name") %></li>
  </ul>
</div>
<br><br>

<div class="container">
  <% @products.each do |product| %>
    <% if logged_in? %>
      <% if product.sellable? || current_user.admin? %>  
      

      <div class="product_square col-md-3">
        <img src="http://worldartsme.com/images/shop-cart-icon-clipart-1.jpg" />
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
        <div align="right"><strong>R$</strong> <input type="text" class="fieldQty" value="<%= '%.2f'%(product.price) %>" style="text-align: center" size="6" readonly/></div>
        <% if current_user.admin? %>
                  <p><%= link_to '<i class="glyphicon glyphicon-edit"></i> Editar'.html_safe,edit_product_path(product.id),class: "btn btn-primary" %></p>
                  <p>Produto Vendível? <%= product.sellable.to_s.capitalize %></p>
                  <% else %>
                  <p><%= link_to '<i class="glyphicon glyphicon-shopping-cart"></i> Comprar'.html_safe,{:controller => "carts", :action => "addtocart",:product => product.id,:cart => current_cart,:quantity => 1},class: "btn btn-primary" %>
                  <% end %></p>
      </div>         
      <% end %>
    <% else %>
      <% if product.sellable? %>
      <div class="product_square col-md-3">
        <img src="http://worldartsme.com/images/shop-cart-icon-clipart-1.jpg" />
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
        <div align="right"><strong>R$</strong> <input type="text" class="fieldQty" value="<%= '%.2f'%(product.price) %>" style="text-align: center" size="6" readonly/></div>
        <p><% if logged_in? && current_user.admin? %>
                  <%= link_to '<i class="glyphicon glyphicon-edit"></i> Editar'.html_safe,edit_product_path(product.id),class: "btn btn-primary" %>
                  <% else %>
                  <%= link_to '<i class="glyphicon glyphicon-shopping-cart"></i> Comprar'.html_safe,{:controller => "carts", :action => "addtocart",:product => product.id,:cart => current_cart,:quantity => 1},class: "btn btn-primary" %>
                  <% end %></p>
      </div>         
      <% end %>
    <% end %>
  <%end%>
</div>