
<div class="dropdown" style="display:inline">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Categorias
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% categories.each do |cat| %>
        <li><%= link_to cat.name.capitalize,products_findcategory_path(categoryname: cat.name) %></li>
    <% end %>
  </ul>
</div>
<div class="dropdown" style="display:inline">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Ordenar
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to 'Preço Maior', products_path(order: "pricemaior") %></li>
    <li><%= link_to 'Preço Menor', products_path(order: "price") %></li>
    <li><%= link_to 'Nome', products_path(order: "name") %></li>
  </ul>
</div>
<br>
<table class="table table-hover">
     <thead >
       <tr>
         <th>Nome</th>
         <th>Preço</th>
         <th>Descrição</th>
         <th>Adicionar ao Carrinho</th>
       </tr>
     </thead>
     <tbody>
       <% @products.each do |product| %>
         <tr>
           <td><%= product.name %></td>
           <td>R$ <%= '%.2f'%(product.price) %></td>
            <td><%= product.description %></td>
           <td><% if logged_in? && current_user.admin? %>
                <%= link_to '<i class="glyphicon glyphicon-edit"></i> Editar'.html_safe,edit_product_path(product.id),class: "btn btn-primary" %>
                <% else %>
                <%= link_to '<i class="glyphicon glyphicon-shopping-cart"></i>'.html_safe,{:controller => "carts", :action => "addtocart",:product => product.id,:cart => current_cart,:quantity => 1},class: "btn btn-primary" %>
                <% end %>
                </td>
         </tr>
      <%end%>
    </tbody>
 </table>

