<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <strong><%= link_to 'DinnerDash1',root_path,class: "navbar-brand" %></strong>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
        <% @user = current_user %>
        <li><%= link_to '<i class="glyphicon glyphicon-list-alt"></i> Pedidos'.html_safe,order_path(current_user),method: "GET" %></li>
        <li><% if current_user.admin? %>
            <%= link_to '<i class="glyphicon glyphicon-wrench"></i> Admin'.html_safe,pages_admin_path %>
            <% end %>
            </li>
        <% else %>
          
        <% end %>
        <li class="dropdown">
          <a href="/products/index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th-list"></span> Produtos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% categories.each do |cat| %>
              <li><%= link_to cat.name.capitalize,products_findcategory_path(categoryname: cat.name) %></li>
            <% end %>
              
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Todos', products_index_path %></li>
            
          </ul>
        </li>
      </ul>
      
        <%= form_tag(products_search_path, :method => "GET",:html => {:id =>'form_id'},class: "navbar-form navbar-left") do %>

        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: " Procurar um produto" %>
        </div>
          <%= button_tag(type: 'submit',name: nil, class: "btn btn-primary btn-sm") do %>
              <span class="glyphicon glyphicon-search"></span> 
          <% end %>
          
        <% end %>
    
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to '<i class="glyphicon glyphicon-cog"></i> Opções'.html_safe,edit_user_path(current_user) %></li>
          <li><%= link_to '<i class="glyphicon glyphicon-log-out"></i> Logout'.html_safe,sign_out_path,method: "delete" %></li>
          <li><%= link_to '<i class="glyphicon glyphicon-user"></i> Perfil'.html_safe,user_path(current_user) %></li>
        <% else %>
          <li><%= link_to '<i class="glyphicon glyphicon-log-in"></i> Login'.html_safe,sign_in_path %></li>
          <li><%= link_to '<i class="glyphicon glyphicon-user"></i> Cadastro'.html_safe,new_user_path %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span> Compras <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to '<i class="glyphicon glyphicon-shopping-cart"></i> Carrinho'.html_safe,carts_show_path%></li>
            <li><% if logged_in? %>
                <%=link_to '<i class="glyphicon glyphicon-ok"></i> Finalizar Compra'.html_safe,orders_path(owner_id: current_user.id,status: 0,date: Date.today,items: current_cart),method: "POST" %>
                <% else %>
                <%= link_to '<i class="glyphicon glyphicon-ok"></i> Entre para Finalizar'.html_safe,sign_in_path %>
                <% end %> 
            </li>
            
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>